body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.container {
    text-align: center;
}

.logo {
    margin-bottom: 20px;
}

.form-container {
    border: 2px solid #f28b82;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #f28b82;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #f28b82;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 45%;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #f28b82;
    cursor: pointer;
}

button:hover {
    background-color: #e57373; /* Darker shade on hover */
}

button:last-child {
    width: 100%;
    margin-top: 10px;
}
